<ion-view view-title="UTA Now" hide-back-button="true">
	<ion-nav-bar class="bar-positive">
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
			</button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button class="button button-icon ion-map map-button" ng-click="doSomething()"></button>
			<!-- <button class="button button-icon ion-gear-a" ui-sref="settings"></button> -->
		</ion-nav-buttons>
	</ion-nav-bar>


	<ion-tabs class="tabs-icon-top tabs-color-active-energized">
		<ion-tab title="Upcoming" icon-off="ion-tshirt-outline" icon-on="ion-tshirt" on-select="tabSelect(0)"></ion-tab>
		<ion-tab title="Trending" icon="ion-fireball" on-select="tabSelect(1)"></ion-tab>
		<ion-tab title="Recommended" icon="ion-beer" on-select="tabSelect(2)"></ion-tab>
	</ion-tabs>


	<ion-content class="has-tabs" >
				 <ion-refresher on-refresh="doRefresh()">
                     
     			 </ion-refresher>
				<div class="list card" ng-repeat = "item in items | orderBy: '-createdAt'">
					

					<a class="item item-body" href= "#/main/event/{{item.objectId}}">

					<img class = "full-image" ng-src="img/coverimg.jpg" style = "height:200px; padding: 5px 5px 5px 5px;">
					<h2> {{item.eventName | uppercase }}</h2>	
					<p>{{ item.startDate | date:'h:mm a MMMM d, y ' | uppercase}} </p>
				</div>
				</a>

	</ion-content>
	
	<!-- BUG: Cannot click though the footerbar -->
	<ion-footer-bar class="fab-footer">
		<button class="fab" ng-click="test()">
			<i class="ion-map"></i>
		</button>
	</ion-footer-bar>
</ion-view>