<ion-view view-title="UTA Now">
  <ion-content>
    <div class="event-top">
      <h1>{{ eventName }}</h1>
      <p><a href="#">facebook link</a></p>
    </div>
    <ul class="list">
      <li class="item custom-item">
        <span class="event-after-top">Mobi</span><a class="org-info-button">Org Info</a>
      </li>
    </ul>
    <div class="list card">
      <div class="item item-divider">Event Info</div>
      <div class="item item-body">
        <div>
          {{ eventInfo }}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Who's Going?</div>
      <div class="item item-body">
        <div>
          This place is to exibit all the people (might be friends too) who are going for the event.
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>