<ion-view view-title="UTA Now">
  <ion-content>
    <div class="event-top">
      <h1>Event Name</h1>
      <p>facebook link</p>
    </div>
    <ul class="list">
      <li class="item">
        Mobi Org Info
      </li>
    </ul>
    <div class="list card">
      <div class="item item-divider">Event Info</div>
      <div class="item item-body">
        <div>
          This is an event information. It will contain all the cool stuffs about the event.</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Who's Going?</div>
      <div class="item item-body">
        <div>
          This place is to exibit all the people (might be friends too) who are going for the event.
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>