<ion-view view-title="UTA NOW" hide-back-button="true">
	<ion-nav-bar class="bar-header bar-calm ">
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
			</button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button class="button button-icon ion-map map-button" ng-click="doSomething()"></button>
			<!-- <button class="button button-icon ion-gear-a" ui-sref="settings"></button> -->
		</ion-nav-buttons>
	</ion-nav-bar>


	<ion-tabs class="tabs-icon-top tabs-background-stable tabs-color-dark tabs-color-active-assertive">
			<ion-tab title="Upcoming" icon-off="ion-tshirt-outline" icon-on="ion-tshirt" on-select="tabSelect(0)"></ion-tab>
			<ion-tab title="Trending" icon="ion-fireball" on-select="tabSelect(1)"></ion-tab>
			<ion-tab title="Recommend" icon="ion-beer" on-select="tabSelect(2)"></ion-tab>
	</ion-tabs>

	


	<ion-content class="has-header has-tabs" scrollbar-y='false'>
				 <ion-refresher style = 'padding-top: 15px; padding-bottom: 15px;' on-refresh="doRefresh()">
                     
     			 </ion-refresher>
				<div class="list-card"  ng-repeat = "item in items | orderBy: '-createdAt'">
					

					<a class = 'item item-image' href= "#/main/event/{{item.objectId}}" style="text-decoration:none;">
						  
					<img class = "full-image" ng-src="img/coverimg.jpg" style = "height:230px; width: 280; padding: 10px 20px 10px 20px;">
					</a>

					<div class = 'sub-tab-view item item-body'>
						<h4>{{ item.startDate | date:'h:mm a MMMM d, y ' | uppercase}} </h4>

						<h3><b> {{item.eventName | uppercase }}</b></h3>					
					</div>

				</div>

	
	</ion-content>
</ion-view>