<ion-view view-title="UTA Now">
	<ion-content>

		<div class="event-top">
			<img class="event-top__background" src="img/coverimg.jpg">    
			<h1>{{ name | uppercase}}</h1>
		</div>
		<ul class="list">
			<li class="item custom-item">
				<a class="org-info-button">About Mobi</a>
			</li>
		</ul>
		<div class="list card">
			<div class="item item-divider">Event Info</div>
			<div class="item item-body">
				<div>
					{{ info | uppercase }}
				</div>
			</div>
		</div>
		<div class="list card">
			<div class="item item-divider">Who's Going?</div>
			<div class="item item-body">
				<div>
					<img class="img-person" src="https://graph.facebook.com/{{ id}}/picture?type=square" ng-repeat="id in goingPeopleIdList" class="margin-left">
				</div>
			</div>
		</div>

		<div class="list card">
			<div class="item item-divider">Where</div>
			<div class="item item-image">
				<leaflet id="map" defaults="map.defaults" center="map.center" markers="map.markers" tiles="map.titles"></leaflet>
			</div>
		</div>

	</ion-content>
</ion-view>