<ion-view view-title="UTA Now">
	<ion-nav-buttons side="primary">
  		<button class="button button-icon ion-map" ng-click="doSomething()"></button>
  		<button class="button button-icon ion-gear-a" ui-sref="settings"></button>
    </ion-nav-buttons>

	<ion-tabs class="tabs-icon-top tabs-color-active-royal">
		<ion-tab title="Upcoming" icon-off="ion-tshirt-outline" icon-on="ion-tshirt"></ion-tab>
		<ion-tab title="Trending" icon="ion-fireball"></ion-tab>
		<ion-tab title="Recommended" icon="ion-beer"></ion-tab>
	</ion-tabs>

	<ion-content class="has-tabs">
		<ion-slide-box show-pager="false" on-slide-changed="">
			<ion-slide>
				<div class="list card">
					<div class="item item-image"><img src="http://placehold.it/500x250"></div>
					<div class="item">Some people going to the event</div>
				</div>
			</ion-slide>

			<ion-slide>
				<div class="list card">
					<div class="item item-image"><img src="http://placehold.it/500x250"></div>
					<div class="item">Some people going to the event</div>
				</div>

				<div class="list card">
					<div class="item item-image"><img src="http://placehold.it/500x250"></div>
					<div class="item">Some people going to the event</div>
				</div>
			</ion-slide>

			<ion-slide>
				<div class="list card">
					<div class="item item-image"><img src="http://placehold.it/500x250"></div>
					<div class="item">Some people going to the event</div>
				</div>
			</ion-slide>
		</ion-slide-box>
	</ion-content>

</ion-view>