<ion-view view-title="Settings">
	<ion-content>
		<div class="list">
		
		<div class="item item-divider">Event</div>
		<ion-toggle ng-model="organizer.checked" ng-change="organizerChanged()" toggle-class="toggle-balanced">
			Event Organizer
		</ion-toggle>
		
		<div class="item item-divider">App Settings</div>
		<a class="item item-icon-left" ng-if="!fbData" ui-sref="intro">
			<i class="icon ion-social-facebook royal"></i>
			Login With Facebook
		</a>
		<a class="item item-icon-left" ng-if="fbData">
			<i class="icon ion-social-facebook royal"></i>
			Logout of Facebook
		</a>
		<a class="item" ng-click="showClearAllData()">
			Clear all data
		</a>
		
	</ion-content>
</ion-view>
