 <ion-view view-title="UTA Now">
	<ion-content>

		<div class="event-top">
			<img class="event-top__background" src="img/coverimg.jpg">
            <div class="item-event-sub">
    			<div class="time">{{ startDate | date:'h:mm a MMMM d, y '}}</div>
    			<div class="title">{{ name | uppercase }}</div>
    			<div class="location">600 S. Center St. Arlington, Texas</div>
    		</div>
		</div>
		<ul class="list">
			<li class="item">
        <a class="org-info-button" href="/#/main/org/{{org['objectId']}}">About {{orgName}}</a>
			</li>
		</ul>
		<div class="list card">
			<div class="item item-divider">Event Info</div>
			<div class="item item-body">
				<div>
					{{ info | uppercase }}
				</div>
			</div>
		</div>
		<div class="list card">
			<div class="item item-divider">Who's Going?</div>
			<div class="item item-body">
				<div>
					<img class="img-person" src="https://graph.facebook.com/{{ id}}/picture?type=square" ng-repeat="id in goingPeopleIdList" class="margin-left">
				</div>
			</div>
		</div>

		<div class="list card">
			<div class="item item-divider">Where</div>
			<div class="item item-image">
				<leaflet id="map" defaults="map.defaults" center="map.center" markers="map.markers" tiles="map.tiles"></leaflet>
			</div>
		</div>

	</ion-content>

	<!-- ionic footer -->
	<ion-footer-bar align-title="left" class="bar footerGradient">
		<h1 class="title">{{ rsvpText }}</h1>
	</ion-footer-bar>

</ion-view>
