<div class="list-card event-list-item">
	<a href="#/main/event/{{item.objectId}}">
		<div class="item item-image"  style="text-decoration:none;">
			<img src="img/coverimg.jpg" ng-src="{{ item.imageURL }}" />
		</div>

		<div class="event-item-overlay"></div>

		<div class="item-event-sub">
			<div class="time">{{ item.startDate | date:'h:mm a MMMM d, y '}}</div>
			<div class="title">{{ item.eventName | uppercase }}</div>
			<div class="location">600 S. Center St. Arlington, Texas</div>
		</div>
	</a>
</div>
