<ionic-view view-title="Org-page">
	<ion-content>
		<div class ="list-card">
			<div class = "button-bar">
				<a class="button icon-left ion-chevron-left button-clear button-light" href="#/map/home">{{org['name']}}</a>

			</div>

			<div class = "item item-image">
				<img src="http://placehold.it/500x250">
			</div>
			<div class = "button-bar">
			<a class="button button-positive" href="#">Events</a>
		  	<a class="button button-positive" href="#"> Info</a>

			</div>
		</div>
	</ion-content>
</ionic-view>
