/* Add your own CSS if you like */

/*
* Top part of event page that contains the blurred image in background
* and event name in foreground
*/
.event-top{
	background:url('http://ionicframework.com/img/docs/delorean.jpg');
	padding: 40px 0px;
}

.event-top h1{
	color: #fff;
	text-align: center;
}

.event-top p, .event-top a{
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.custom-item{
	padding: 5px 16px;
}

.event-after-top{
	float:left;
	padding:10px 0px;
}

.org-info-button{
	float:right;
	border:1px solid #FEA900;
	padding:8px;
	border-radius:5px;
	color:#986306;
	background-color:#EFBF69;
}

