/* Add your own CSS if you like */

/*
* Top part of event page that contains the blurred image in background
* and event name in foreground
*/
.event-top{
	position: relative;
	padding: 40px 0px;
	overflow: hidden;
}

/*
* Styles for blurring image
*/
.sub-tab-view h3{
		margin: 1em 0 0.5em 0;
	color: #343434;
	font-size: 18px;
	line-height: 10px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Orienta', sans-serif;
	letter-spacing: 1px;
	font-style: italic;
}
.sub-tab-view h4{
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-size: 13px;
	line-height: 5px;
	font-weight: normal;
	font-style: bold;
	font-family: 'Orienta', sans-serif;
}
.event-top__background {
    position: absolute;
    top: -50%;
    left: 0;
    width: 140%;
    filter:blur(22px);
    -webkit-filter: blur(22px);
    -moz-filter:blur(22px);
    transform:translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
}

.event-top h1{
	position: relative;
	color: #fff;
	text-align: center;
}

.custom-item{
	padding: 5px 16px;
}

.event-after-top{
	float:left;
	padding:10px 0px;
}

.org-info-button{
	float:right;
	border:1px solid #BF980A;
	padding:8px;
	border-radius:5px;
	color:#AA6C00;
	background-color:#FFC900;
}

/*
* Margin for images of people who are going to the event
*/
.margin-left{
	margin-left: 3px;
}


.list-inset{
	position: relative;
	padding: 40px 0px;
	display: block;
	background-color: rgba(255,255,255, 0.0);
	margin: 15px 0px 0px 17px;
	height: 0px;
}

.android-event-search{
	margin: 65px 0px 0px 19px;
	width: 353px;
}

button.button-filter{
	position: absolute;
	right: 21px;
	width: 70px;
	font-size: 10px;
	border: 0px;
	font-weight: bold;
	padding: 0px 0px 10px 0px;
	background-color: rgba(235, 235, 235, 1.0) !important;
	color: rgba(75, 75, 75, 0.6) !important;
}

button.android-button-filter{
	position: absolute;
	top: 40px;
	right: 18px;
	width: 70px;
	font-size: 10px;
	border: 0px;
	font-weight: bold;
	padding: 0px 0px 10px 0px;
	background-color: rgba(235, 235, 235, 1.0) !important;
	color: rgba(75, 75, 75, 0.6) !important;
}

.item.item-input{
	padding: 6px;
	margin: 0px;
	width: 75%;
	display: inline-block;
}

#search-text{
	margin: 0px 0px 0px 15px;
	padding: 0px 0px 5px 0px;
}




