/* Add your own CSS if you like */

/*
* Top part of event page that contains the blurred image in background
* and event name in foreground
*/
.event-top{
	position: relative;
	padding: 40px 0px;
	overflow: hidden;
}

/*
* Styles for blurring image
*/
.sub-tab-view h3{
		margin: 1em 0 0.5em 0;
	color: #343434;
	font-size: 18px;
	line-height: 10px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Orienta', sans-serif;
	letter-spacing: 1px;
	font-style: italic;
}
.sub-tab-view h4{
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-size: 13px;
	line-height: 5px;
	font-weight: normal;
	font-style: bold;
	font-family: 'Orienta', sans-serif;
}
.event-top__background {
    position: absolute;
    top: -50%;
    left: 0;
    width: 140%;
    filter:blur(22px);
    -webkit-filter: blur(22px);
    -moz-filter:blur(22px);
    transform:translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
}

.event-top h1{
	position: relative;
	color: #fff;
	text-align: center;
}

.custom-item{
	padding: 5px 16px;
}

.event-after-top{
	float:left;
	padding:10px 0px;
}

.org-info-button{
	float:right;
	border:1px solid #BF980A;
	padding:8px;
	border-radius:5px;
	color:#AA6C00;
	background-color:#FFC900;
}

/*
* Margin for images of people who are going to the event
*/
.margin-left{
	margin-left: 3px;
}

